#Connectionbox{
    background-color: #eeeeee; 
    padding : 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#Publishbox{
    background-color: #eeeeee;
    padding: 1rem;
    margin-left: -0.75rem;
    margin-right: 0em;
    width: 100%;
    
    

}
#Messagesbox{
    background-color: #eeeeee;
    padding: 1rem;
    margin-bottom: 1rem;
}
#Subscriptionsbox{
    background-color: #eeeeee;
    padding: 1rem;
    margin-right: -0.75rem;
    
    width: 100%;
    
}
#con-card{
    padding: 1rem;

}
#pub-card{
    padding: 1rem;
}
#mess-card{
    padding: 1rem;
}
#midbox{
    padding: 0;
   
    
}
#mess-card{

}
p{
    color: rgb(107, 107, 107);
}